@model X.PagedList.IPagedList<MyOwnStore.Models.Client>
@{
    ViewData["Title"] = "Index";
    var search = Context.Request.Query["search"];
}
@if (Model.Count > 0)
{
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Clientes</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a asp-action="Panel" asp-controller="Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Client"><span>Clientes</span></a>
                    </li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>

        @if (TempData["MSG_S"] != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                O <strong>Status do cliente</strong> foi modificado com sucesso!
            </div>
        }
        <!-- start: page -->
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Clientes</h2>
            </header>
            <div class="panel-body">
                <div class="row datatables-header form-group">
                    <div class="form-group">
                        <div class="col-md-6">  </div>
                        <div class="col-md-6">
                            <form method="get">
                                <div class="input-group mb-md">
                                    <!--
                                        -- QueryString --
                                        https://host/area/controller/mehotd?search={conteudo}&page=number
                                    -->
                                    <input type="text" name="search" id="search" value="@search" class="form-control" placeholder="Digite o email ou o nome do cliente ou deixe em branco para listar todos">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Buscar!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Name)</th>
                            <th class="hidden-phone">@Html.DisplayNameFor(model => model.First().Email)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Birthday)</th>
                            <th>@Html.DisplayNameFor(model => model.First().Status)</th>
                            <th class="hidden-phone" style="width:15%">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Client client in Model)
                        {
                            <tr>
                                <td>@client.Id</td>
                                <td>
                                    @client.Name
                                </td>
                                <td class="center hidden-phone">@client.Email </td>
                                <td class="center hidden-phone">@client.Birthday </td>
                                <td class="center hidden-phone">
                                    @if (client.Status == ConstTypes.AllowedStatus)
                                    {
                                        <p class="text-success">Permitido</p>
                                    }
                                    else if (client.Status == ConstTypes.DenyStatus)
                                    {
                                        <p class="text-danger">Restrito</p>
                                    }
                                </td>
                                <td class="center hidden-phone">
                                    @if (client.Status == ConstTypes.AllowedStatus)
                                    {
                                        <a asp-action="ChangeStatus" asp-route-id="@client.Id" class="mb-xs mt-xs mr-xs btn btn-danger">Desativar</a>
                                    }
                                    else
                                    {
                                        <a asp-action="ChangeStatus" asp-route-id="@client.Id" class="mb-xs mt-xs mr-xs btn btn-warning">Ativar</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, search = search }),
            new PagedListRenderOptions
                 {
                    UlElementClasses = new string[] { "pagination" }

                 })

        </section>
    </section>
}
else
{
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Clientes</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a asp-action="Panel" asp-controller="Home">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Client"><span>Clientes</span></a>
                    </li>
                </ol>

                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>
        <!-- start: page -->
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>

                <h2 class="panel-title">Clientes</h2>
            </header>
            <div class="panel-body">
                <div class="row datatables-header form-group">
                    <div class="form-group">
                        <div class="col-md-6">  </div>
                        <div class="col-md-6">
                            <form method="get">
                                <div class="input-group mb-md">
                                    <!--
                                        -- QueryString --
                                        https://host/area/controller/mehotd?search={conteudo}&page=number
                                    -->
                                    <input type="text" name="search" id="search" value="@search" class="form-control" placeholder="Digite o email ou o nome do usuario">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="submit">Buscar!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <p>Nada foi encontrado...</p>
            </div>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page, search = search }),
            new PagedListRenderOptions
                 {
                    UlElementClasses = new string[] { "pagination" }

                 })

        </section>
    </section>
}